.titulo {
    color: $colorPrincipal;
    text-align: center;
    font-size: 2rem;
    font-weight: 700;
    text-transform: uppercase;
    margin-bottom: 1rem;
}

.parrafo {
    color: $colorPrincipal;
    font-size: 1.3rem;
}