.contacto {
    display: block;
    align-items: center;
    justify-content: center;
    &__imagen {
        min-height: 180px;
        overflow: clip;
        max-height: 500px;
        display: flex;
        justify-content: center;
    }
    &__imagen img {
        height: 100%;
        width: auto;
    }
}
@media (max-width:768px) {
    .contacto__imagen img {
        width: 90%;
        height: auto;
    }
    .contacto__imagen {
        max-width: 400px;
        margin: 0 auto 1rem;
        justify-content: center;
    }
}
@media only screen and (min-width: 768px) {
    .contacto {
        display: flex;
        flex-direction: row-reverse;
        align-items: center;
        justify-content: center;
        gap: 3rem;
    }
}
@media only screen and (min-width: 768px){
    .formulario__contenedor{
        width: 450px;
        margin: 0 auto; 
    }
}
.formulario {
    color: $colorPrincipal;
    background-color: $colorPrincipal;
    padding: 2rem;
    border-radius: .5rem;
    background-image: none;
    min-width: 180px;
    max-width: 500px;
    legend {
        text-align: center;
        font-size: 1.2rem;
        color: $colorSecundario;
        margin-bottom: 2rem;
        text-transform: uppercase;
        font-weight: 700;
        background-image: none;
    }
    label {
        color: $colorSecundario;
        font-weight: 700;
        margin-bottom: .5rem;
        display: flex;
        background-image: none;
    }
}
.campo {
    margin-bottom: 1rem;
    background-image: none;
    width: 100%;
    display: inline;
    &__contenedor {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        background-image: none;
        align-items: center;
    }
    input,
    textarea {
        width: 100%;
        padding: .5rem;
        border: none;
        border-radius: .5rem;
        resize: none;
        background: white;
    }
}
:placeholder-shown,
textarea,
select {
    background-image: none;
    background: white;
}
.button {
    @include boton($colorSecundario, $colorPrincipal);
}
.botonContenedor {
    display: flex;
    justify-content: space-between;
    background-image: none;
}
.checkbox__contenedor{
    display: flex;
    flex-direction: column;
    background-image: none;
}
label{
    align-items: center;
}