@media (min-width: 768px) {
    .filmografia {
        display: grid;
        grid-template-columns: 25% 75%;
        gap: 2rem;
        line-height: 2rem;
        margin-left: 1rem;
        margin-bottom: 1rem;
    }
}
.parrafoFilmografia {
    color: $colorPrincipal;
    font-size: 1.6rem;
    line-height: 3rem;
}
.contenedorFilmografia {
    border-top: solid #EFEACC 0.1rem;
}